@{
  Layout = "_Layout";
}

@using Bakery.Models
@model Bakery.Models.Flavor

<h2>Flavor Details</h2>
<hr />
<h3>@Html.DisplayNameFor(model => model.Name): @Html.DisplayFor(model => model.Name)</h3>

@if (@Model.FlavorTreats.Count == 0)
{
  <br>
  <p>This flavor does not have any associated 🍪treats🍪🤔</p>
}
else
{
  <h4>This flavor is in the following treats:</h4>
  <ul>
  @foreach (FlavorTreat join in Model.FlavorTreats)
    {
      <br>
      <li>@join.Treat.Name</li>  
      @using (Html.BeginForm("DeleteJoin", "Flavors")) 
      {
        @Html.Hidden("joinId", @join.FlavorTreatId)
        <input type="submit" value="Delete" />
        <br>
        <br> 
      }
    }
  </ul>
}


<br>
<br>
<br>
<br>
<hr>
<p>@Html.ActionLink("Back to List", "Index")</p>
<p>@Html.ActionLink("Add a treat to this flavor", "AddTreat", new { id = Model.FlavorId })</p>
<p>@Html.ActionLink("Edit Flavor", "Edit", new { id = Model.FlavorId })</p>
<p>@Html.ActionLink("Delete Treat", "Delete", new { id = Model.FlavorId })</p>